main {
background-color: brown;

}
header {
    background-color: violet; 
}
footer {

    background-color: burlywood;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1NkKTGSlGEe-pUGX5zW7Kr3YlP2pcTr4sgw&usqp=CAU");
}
